
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    Hata yeri: @ViewBag.hata
    Hata mesajı:  @ViewBag.mesaj
</body>
</html>
